@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root  {
  --background: 226 0% 95%;
  --foreground: 226 0% 4%;
  --card: 226 0% 90%;
  --card-foreground: 226 0% 10%;
  --popover: 226 0% 95%;
  --popover-foreground: 226 95% 4%;
  --primary: 226 94% 59%;
  --primary-foreground: 0 0% 100%;
  --secondary: 226 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 188 10% 85%;
  --muted-foreground: 226 0% 35%;
  --accent: 188 10% 80%;
  --accent-foreground: 226 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 226 0% 90%;
  --border: 226 20% 50%;
  --input: 226 20% 18%;
  --ring: 226 94% 59%;
  --radius: 0.5rem;
}
.dark  {
  --background: 226 10% 5%;
  --foreground: 226 0% 90%;
  --card: 226 0% 4%;
  --card-foreground: 226 0% 90%;
  --popover: 226 10% 5%;
  --popover-foreground: 226 0% 90%;
  --primary: 226 94% 59%;
  --primary-foreground: 0 0% 100%;
  --secondary: 226 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 188 10% 15%;
  --muted-foreground: 226 0% 60%;
  --accent: 188 10% 15%;
  --accent-foreground: 226 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 226 0% 90%;
  --border: 226 20% 18%;
  --input: 226 20% 18%;
  --ring: 226 94% 59%;
  --radius: 0.5rem;
}

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
